/* Global Styles */
@import "tailwindcss";
@plugin '@midudev/tailwind-animations';

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  width: 100% !important;
  height: screen;
}

h1, h2 {
  font-family: "Heavy", sans-serif;
}

h3, h4, h5, h6 {
  font-family: "Century", sans-serif;
}

@theme {
  --color-brand: #f8b133;
}

@font-face {
  font-family: "Century";
  src: url("/fonts/century.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Century Bold";
  src: url("/fonts/century-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Heavy";
  src: url("/fonts/heavy.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}