---
import BackToHome from "@/components/BackToHome.astro";
import Layout from "@/layouts/Layout.astro";
---
<Layout>
    <BackToHome />
    <div class="w-full h-screen flex flex-col justify-center items-center">
        <h1 class="text-2xl">La página a la cual estás intentando ingresar no existe!</h1>
        <img class="w-auto h-[300px]" src="./400.gif" alt="">
    </div>
</Layout>
