---
import Section from '@/components/Section.astro'
import Layout from '@/layouts/Layout.astro'
import Footer from '@/sections/Footer.astro'

---

<Layout>
  <Section>

  </Section>
  <Footer />
</Layout>