---
import LayoutLegal from '@/layouts/Layout-legal.astro'
import Section from '@/components/Section.astro'
import Footer from '@/sections/Footer.astro'

import BackToHome from '@/components/BackToHome.astro'
import CookiePolicy from '@/content/legal/politica-de-cookies.md'

---

<LayoutLegal>
  <BackToHome />
  <Section>
    <div class="lg-container w-[70%] flex flex-col justify-center text-justify !my-5">
      <CookiePolicy />
    </div>
  </Section>

  <Footer />
</LayoutLegal>