---
import Layout from '@/layouts/Layout.astro'
import Section from '@/components/Section.astro'
import Footer from '@/sections/Footer.astro'

import BackToHome from '@/components/BackToHome.astro'
---

<Layout>
  <Section>
    <BackToHome />
  </Section>

  <Footer />
</Layout>