---
import LayoutLegal from '@/layouts/Layout-legal.astro'
import Section from '@/components/Section.astro'
import Footer from '@/sections/Footer.astro'

import BackToHome from '@/components/BackToHome.astro'
import Privacy from '@/content/legal/privacidad.md'

---

<LayoutLegal>
  <Section>
    <BackToHome />
    <div class="max-w-[65%] flex flex-col justify-center text-justify !my-5">
      <Privacy />
    </div>
  </Section>

  <Footer />
</LayoutLegal>