<footer class="text-white">
    <div class="w-full max-w-lg !mx-auto p-4 flex justify-between items-center">
      <a href="/">
        <img class="w-20 drop-shadow-md drop-shadow-black drop" src="/logo-a.svg" alt="bigibai logo">
      </a>
      <nav>
        <ul class="w-full flex justify-center items-center gap-x-5">
          <li><a class="hover:underline hover:text-brand transition me-4 md:me-6" href="/privacidad">Privacidad</a></li>
          <li><a class="hover:underline hover:text-brand transition me-4 md:me-6" href="/aviso-legal">Aviso Legal</a></li>
          <li><a class="hover:underline hover:text-brand transition me-4 md:me-6" href="/politica-de-cookies">Política de Cookies</a></li>
        </ul>
      </nav>
    </div>
  
    <div class="text-center !py-3">
      <small class="opacity-70">©2025 Salad Brands SL. · 
        <a 
          class="hover:underline hover:text-brand"
          href="mailto:hola@bigibai.com"
        >
          hola@bigibai.com
        </a>
      </small>
    </div>
  </div>
</footer>