---
import SubscribeForm from "@/newsletter/components/SubscribeForm.astro";
---

<main class="max-w-2xl !mx-auto flex flex-col justify-center items-center !px-4 !py-20 gap-4">
  <p class="text-xl text-white/90 text-center text-balance">
    ¿Listos para celebrar las navidades justos de nuevo? Descubre la nueva edición de Big Ibai y mucho más próximanente.
  </p>
  <p class="text-xl font-semibold text-white/80 text-center text-balance !mb-5">Conoce el contenido exclusivo solo para los "reals".</p>
  <h2 class="text-5xl text-brand text-center uppercase">
    ¿Quieres que te avisemos?
  </h2>
  <SubscribeForm />
</main>