---
import SubscribeForm from "@/newsletter/components/SubscribeForm.astro";

---

<main class="w-full h-[63vh] md:h-[55dvh] transition-all mx-auto flex flex-col items-center justify-center gap-8">
  <p class="max-w-2xl text-xl opacity-80 text-center text-balance">
    ¿Listos para celebrar las Navidades justos de nuevo? Descubre la nueva edición de Big Ibai y mucho más próximamente.
  </p>

  <p class="text-xl font-semibold">Accede al contenido exclusivo solo para los <span class="italic">reals fans.</span></p>
  
  <h2 class="text-3xl md:text-5xl text-center transition-all">¿Quieres que te avisemos?</h2>

  <SubscribeForm />
</main>