---
import SubscribeForm from "@/newsletter/components/SubscribeForm.astro";
---

<main class="max-w-xl !mx-auto flex flex-col justify-center items-center !px-4 !pt-12 !pb-6 gap-2">
  <p class="text-xl text-white/90 text-center text-balance !mb-3">
    ¿Listos para celebrar las navidades justos de nuevo? Descubre la nueva edición de Big Ibai y mucho más próximanente.
  </p>
  <h2 class="text-4xl text-brand text-center ">
    ¿Quieres que te avisemos?
  </h2>
  <p class="w-[85%] text-md font-semibold text-brand text-left text-balance">Conoce el contenido exclusivo solo para los <span class="italic">reals.</span></p>
  <SubscribeForm />
</main>
