---
import SubscribeForm from "@/newsletter/components/SubscribeForm.astro";
---

<main class="max-w-2xl !mx-auto flex flex-col justify-center items-center !px-4 !py-20 gap-4">
  <p class="text-xl text-white/90 text-center text-balance !mb-3">
    ¿Listos para celebrar las navidades justos de nuevo? Descubre la nueva edición de Big Ibai y mucho más próximanente.
  </p>
  <h3 class="text-xl uppercase font-semibold text-white/80 text-center text-balance">Conoce el contenido exclusivo solo para los "reals".</h3>
  <h2 class="text-4xl text-brand text-center uppercase">
    ¿Quieres que te avisemos?
  </h2>
  <SubscribeForm />
</main>