---
import { actions } from "astro:actions";
---

<section class="relative w-full max-w-xl mx-auto z-0">
  <form 
    method="post" 
    id="newsletter-form" 
    action={actions.newsletter} 
    class="flex flex-col gap-4"
  >
    <div class="flex flex-col sm:flex-row !gap-3">
      <input 
        name="email" 
        class="flex-1 !px-4 !py-2 rounded-lg bg-black/50 border border-brand backdrop-blur-lg text-white placeholder:text-white/50 focus:outline-none focus:ring-2 focus:ring-yellow-300/50 focus:border-transparent transition-all" type="email" required
         placeholder="Ingresa tu Email" 
      />
      <button
        type="submit"
        class="!px-6 pt-2 bg-brand hover:bg-yellow-400 text-black font-bold rounded-lg transition-all hover:scale-105 active:scale-95 disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:scale-100"
      >
        ¡Avísame!
      </button>
    </div>
    <div id="newsletter-messsage" class="hidden font-semibold text-sm text-center text-brand z-10">
      Te has suscrito a la newsletter
    </div>
  </form>
</section>

<script>
  import { throwConfetti } from "@/utils/confetti";
  import { actions, isInputError } from "astro:actions";

  const message = document.getElementById("newsletter-messsage") as HTMLDivElement

  const form = document.getElementById("newsletter-form") as HTMLFormElement
 
  form?.addEventListener("submit", async (event) => {
    event.preventDefault()
    
    message.classList.remove("text-red-500","text-green-500")
    
    const formData = new FormData(form)
    const email = formData.get("email") as string

    const { data, error } = await actions.newsletter({ email })

    if (error) {
      const messageText = isInputError(error)
      ? error?.fields?.email?.join(", ")
      : error.message

      message.textContent = 
      messageText ??
      "Error al guardar el email en la newsletter"

      message.classList.remove("hidden")
      message.classList.remove("text-green-500")
      message.classList.add("text-red-500")
    }

    if (data) {
      console.log(data);
      throwConfetti()
      message.textContent = "¡Ya eres parte de la newsletter!"
      message.classList.remove("hidden")
      message.classList.remove("text-red-500")
      message.classList.add("text-green-500")
    }

    setTimeout(() => {
      form.reset()
      message.classList.remove("text-red-500")
      message.classList.remove("text-green-500")
      message.classList.add("hidden")
    }, 5000);
  })
</script>
